<aside>
    <h4>Meistgelesene Autoren</h4> 
    <ul>
        <li>Prof.Dr. Helmut Balzert</li>
        <li>Prof.Dr. Heide Balzert</li>
        <li>Prof.Dr. August-Wilhelm Scheer</li>
        <li>Prof.Dr. Helmut krcmar</li>
        <li>Prof.Dr. Sabine Sachweh</li>
     
    </ul>
    <h4>Sonstiges</h4>
    <ul>
        <li>Unsere Angebote der Woche </li>
        <li>FH-DO Studierende profitieren von Preisnachlässen bei <a href="https://www.amazon.de">Amazon</a>!</li>
        <li><strong>Bevorstehende Wartungsarbeiten ...</strong>  
            
            Am 15.03.2021 Serveroptimierung
            Am 16.03.2021 Netzwerk-check
            Installation neuer Betriebssysteme
            Tausch von Altrechnern
            und vieles mehr !!!  
    </li>
        <li><a href="https://www.bundesregierung.de/breg-de/themen/coronavirus/corona-massnahmen-1734724">Aktuelle Corona-Maßnahmen der Bundesregierung</a></li>
    </ul>
</aside>