<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
    <style>
        body{display: flex; flex-direction: column; align-items: center; justify-content: center;}
        a:hover{color:coral;}
    </style>
</head>
<body style="background-color: skyblue;">
    <h1 style="color: red">Seite nicht verfügbar !</h1>
    <a href="/">Zur Startseite</a>
</body>
</html>