<footer> 
    <ul>
        <li>In Zusammenarbeit mit <a href="https://www.dortmund.de/de/leben_in_dortmund/bildungwissenschaft/bibliothek/start_bibliothek/">Stadt- und Landesbibliothek Dortmund</a></li>
        <li>In Zusammenarbeit mit <a href="https://www.fh-dortmund.de/de/hs/servicebe/bibl/index.php">FH DO Bibliothek </a></li>
        <li>Datenschutzhinweise</li>
        <li>Impressum</li>
        <li>Copyright Ghislain Kamga</li> 
        <li>Hilfe</li>
        <li>Feedback geben</li>
        

    </ul>
</footer>