<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>startseite</title>
    <link rel="stylesheet" type="text/css" href="/css/startseite.css">
</head>

<body >
    <header>
        <img src="/img/herzlich-WKM.jpg" alt="kein bild" >
        <h1 id="kopftitel">Online Bibliothek </h1>
        <img src="/img/Willkommen.jpg" alt="kein bild" >
    </header>

    <main>
        <div id="flex">
            <div class="box"><a class="box1" href="Buchanlegen">Buch hinzufügen</a></div>
            <div class="box"><a class="box1"  href="Detailseite">Detaillierte Informationen zu den Büchern</a></div>
            <div class="box"><a class="box1" href="Listenseite">Listenseite</a></div>
            
        </div>
    </main>

   
        <footer>
            <ul>
                <li>In Zusammenarbeit mit <a
                        href="https://www.dortmund.de/de/leben_in_dortmund/bildungwissenschaft/bibliothek/start_bibliothek/">Stadt-
                        und Landesbibliothek Dortmund</a></li>
                <li>In Zusammenarbeit mit <a href="https://www.fh-dortmund.de/de/hs/servicebe/bibl/index.php">FH DO
                        Bibliothek </a></li>
                <li>Datenschutzhinweise</li>
                <li>Impressum</li>
                <li>Copyright Ghislain Kamga</li>
                <li>Hilfe</li>
                <li>Feedback geben</li>


            </ul>
        </footer>
</body>

</html>