body{display: grid; grid-template-columns: auto; 
grid-template-rows: 5% 5% 85% 5%;
grid-template-areas: "kopf"
                        "navi"
                        "haupt"
                        "end"; 
background-color: olive;  padding: 17px; border: 1px solid white}
header{grid-area: "kopf"; width: 100%; padding: 5px;  height: auto;}
nav{grid-area: "navi"; width: 100%; padding: 5px;  height: auto; }
main{grid-area: "haupt"; width: 100%; padding: 5px;  height: auto; width: 85%;}
footer{grid-area: end; width: 100%; padding: 5px;  height: 200px;}

.bild{width: 100%; height: 80%;}
.bild1{width: 100%; height: 90%; margin: 0px;}

i.tans {list-style-type: upper-roman; padding: 5px; font-size: larger; color: snow;
      text-transform: uppercase; word-spacing: 5px; text-align: center; padding: 20px ;}
table{width: 100%;}
thead{text-transform: uppercase; color:white}
table, thead,tbody, tr, td{ border-collapse: collapse; border: 1px solid snow; text-align: center;
    height: 30px;
    margin: 15px; }
h5{color: maroon; font-size: large; font-style: oblique; margin-left: 10%}